.loader-container{
  position: absolute;
  display: inline-block;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  #loading-progressBar{
    display: inline-block;
    width: 100%;
  }
  .mdl-progress>.progressbar {
    background-color: $beige;
    border-radius: 5px;
  }
  .mdl-progress>.bufferbar {
    background: rgba(240, 243, 189, .3) !important;
    border-radius: 5px;
  }
  .mdl-progress {
    height: 7px;
    border-radius: 7px;
  }

}
