/*
 * Variables for Color Palette
 */

$dark-blue: #05668d; //rgba(5, 102, 141, 89)
$blue: #028090; //rgba(2, 128, 144, 100)
$blue-green: #00a896; //rgba(0, 168, 150, 100)
$green: #02c39a; //rgba(2, 195, 154, 100)
$theme-green: #009688;
$beige: #f0f3bd; //rgba(240, 243, 189, 100)
$grey: rgb(221, 221, 221);
