// background
body {
  background-color: $grey !important;
  // background-color: $beige;
}

#location-text{
    color: white;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

#app-container{
  overflow: hidden;
  // background: linear-gradient(357deg, rgba(2,128,144,1) 0%, rgba(2,195,154,1) 100%);
  background-color: $green;
}
#loaded-app{
  &.inactive{
    visibility: hidden;
    background-color: $green;
    z-index: 10;
  }
  &.active{
    visibility: visible;
    background-color: white;
  }
}

// mobile views
@media (max-width: 600px) {
  #app-container {
    width: 100%;
    max-width: 600px;
    // max-height: 736px;
    min-height: 568px;
  }
}

// medium large view
@media (min-width: 601px) {
  #app-container {
    position: relative;
    @include center-me();
    width: 90%;
    height: 90vh;
    max-width: 600px;
    min-width: 320px;
  }
}
