// ** Forecast Tab Content

// default styles
#forecast-panel {
  .forecast-card {
    height: 29.33333%;
    @include animation( "fadeIn 2000ms ease 1 normal both" );
    border-bottom: 1px solid lighten($grey, .5);
    box-sizing: border-box;
    background-color: white;
    .box {
      width: 33.33%;
      height: 100%;
      display: inline-block;
    }
    .box-temp {
      float: left;
      position: relative;
      h3 {
        font-family: 'Roboto',sans-serif;
        font-size: 2em;
        margin: 0;
        color: $theme-green;
        @include center-me();
        &:after{
          content: '';
          position: absolute;
          display: inline;
          border-radius: 50%;
          height: 4px;
          width: 4px;
          border: 3px solid $theme-green;
          right: -1rem;
        }
      }

    }
    .box-date {
      position: relative;
      p {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        margin: 0;
        color: black;
        @include center-me();
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        color: rgba(40,40,40,1);
        letter-spacing: 1px;
      }
    }
    .box-icon {
      position: relative;
      float: right;
      .box-icon-svg {
        @include center-me();
        height: 50%;
      }
    }
  }
}



// small screen sizes
@media(max-width:700px){
  #forecast-panel {
    height: 70vh;
    .forecast-card{
      .box-date {
        p {
          font-size: 1.25em; // 20px on mobile
        }
      }
    }
  }
}

// medium and large screen sizes
@media(min-width:601px) and (min-height: 800px){
  #forecast-panel {
    font-size: 1.5rem; // 24px
    height: calc(0.70 * 90vh );
  }
}
