// default styles across all views
#header {
  background-color: $green;
  #main-header-container {
    width: 80%;
    box-sizing: border-box;
    #temperature-cell {
      position: relative;
      #temp-cell-number {
        padding-top: 10px;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        h2 {
          margin: 0;
          color: $beige;
          font-family: 'Roboto',sans-serif;
          font-weight: bold;
          display: inline-block;
          padding: 0;
          font-size: 1em;
          &:after {
            content: '';
            display: inline-block;
            position: relative;
            border-color: $beige;
            border-radius: 50%;
            height: 0.075em;
            width: 0.075em;
            border: 0.1em solid $beige;
            vertical-align: top;
            margin-left: 0.075em;
          }
        }
      }
      #temp-cell-city {
        width: 100%;
        text-align: center;
        p {
          color: $beige;
          font-family: 'Roboto', sans-serif;
          padding: 5px 0;
          margin: 0;
          font-size: 0.3em;
          font-weight: 300;
        }
      }
    }
    #image-cell {
      box-sizing: border-box;
      position: relative;
      #weatherImage {
        height: 100%;
        width: 100%;
        @include center-me();
      }
    }
  }
}
// mobile views
@media (max-width: 700px) {
  #header {
    position: relative;
    height: 22.8vh;
    #search {
      display: none;
    }
  }
  #main-header-container {
    font-size: 4rem;
    position: absolute;
    margin-top: 0.45em;
    @include center-me-horiz();
    #temperature-cell {
      width: 50%;
    }
    #image-cell {
      width: 50%;
    }
  }
}


// medium large view
@media (min-width: 601px) {
  #header {
    position: relative;
    height: calc(0.228 * 90vh);
    #search {
      display: none;
    }
  }
  #main-header-container {
    height: 140px;
    font-size: 6rem;
    position: absolute;
    margin-top: 0.40em;
    @include center-me-horiz();
    #temperature-cell {
      height: 100%;
      width: 60%;
      position: relative;
      #temp-cell-number {
        position: relative;
        padding: 0px;
        h2 {
          line-height: 1em;
        }
      }
    }
    #image-cell {
      width: 39%;
    }
  }
}
