#info-panel {
  background-color: white;
  height: 70vh;
  // row of boxes
  .info-card {
    height: 22%;
    width: 100%;
    border-bottom: 1px solid rgba(220,220,220,.3);
    box-sizing: border-box;
  }
  // targets all boxes
  .box-info {
    height: 100%; width: 33.3%;
    display: inline-block;
    // adjust sizing of time in time boxes
    .time {
      h3 {
        font-size: 20px;
      }
    }
  }
  .box-left {
    float: left;
    position: relative;
    h3 {
      font-size: 22px;
      line-height: 24px;
      text-align: center;
      font-family: 'Roboto',sans-serif;
      margin: 0;
      color: $theme-green;
      @include center-me();
    }
    #mph, #percent, #period{
      margin-left: .75rem;
    }
  }
  .box-middle {
    position: relative;
    p {
      font-family: 'Roboto', sans-serif;
      width: 95%;
      font-size: 18px;
      margin: 0;
      font-weight: 300;
      color: rgba(40,40,40,1);
      letter-spacing: 1px;
      @include center-me();
      text-align: center;
    }
  }
  .box-right {
    float: right;
    position: relative;
    img {
      height: 55%;
      @include center-me();
    }
    #sunset,
    #humidity {
      height: 40%;
    }
    #tSpinner {
      @include center-me();
      @include animation( "windSpin linear infinite normal both" );
      height: 70%;
    }
    #pole {
      @include center-me-horiz();
      height: 35%;
      width: 0.4em;
      background-color: $theme-green;
      border-radius: 50% 50% 0 0;
      bottom: 0;
    }
  }
}

// mobile view
@media (max-width: 600px){
  #info-panel{
    .info-card{
      .box-info {
        img{
          height: 44%;
        }
        #sunset,
        #humidity {
          height: 33%;
        }
        #mph, #percent, #period{
          margin-left: .4rem;
          font-size: 1rem;
        }
        p{
          color: rgba(40,40,40,.6);
        }
      }
    }
  }
}
// medium large view
@media (min-width: 601px){
  #info-panel{
    height: calc(0.70 * 90vh );
    .info-card{
      .box-info {
        img{
          height: 44%;
        }
        #sunset,
        #humidity {
          height: 33%;
        }
      }
    }
  }
}
