.mdl-tabs {
  margin-top: -1px;
}

.mdl-tabs__tab {
  height: 7.2vh;
  line-height: 7.2vh;
}


.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background-color: $theme-green;
}
.mdl-tabs__tab {
  color: #61DBB5 !important;
  padding: 0 20.5% !important;
}
#tab-header .is-active {
  color: $beige !important;
}
// add this class to automate elements on events in jquery ex) .click.addClass
.animate-fadein {
  @include animation(" fadeIn 2000ms ease 1 normal both ");
}

@media(max-width:600px){
  #tab-header {
    height: 7.2vh;
    background-color: $green;
    .mdl-tabs__tab {
      height: 7.2vh;
      line-height: 7.2vh;
    }
  }

}

@media(min-width:601px){
  $val:calc(0.072 * 90vh);
  #tab-header {
    height: $val;
    background-color: $green;
    .mdl-tabs__tab {
      height: $val;
      line-height: $val;
    }
  }

}
